save-exact=true

# this specifies the number of minutes that must pass after a version is published before pnpm will install it (to prevent supply chain attacks)

# https://pnpm.io/supply-chain-security

# https://pnpm.io/settings#minimumreleaseage
minimum-release-age=7200 # 5 days

# packages exempt from the minimum-release-age wait above
# https://pnpm.io/settings#minimumreleaseageexclude
minimum-release-age-exclude[]=
block-exotic-subdeps=true
